<?xml version="1.0" ?>
<robot name="manipuation_environment" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="world" />

  <link name="vloer_link">
    <visual>
      <geometry>
        <box size="5.0 5.0 0.02"/>
      </geometry>
      <material name="vloer_kleur">
        <color rgba="0.3 0.3 0.3 1.0"/> </material>
    </visual>
    <collision>
      <geometry>
        <box size="5.0 5.0 0.02"/>
      </geometry>
    </collision>
  </link>

  <joint name="vloer_to_world" type="fixed">
    <parent link="world"/>
    <child link="vloer_link"/>
    <origin xyz="0.0 0.0 -0.01" rpy="0 0 0"/>
  </joint>

  <xacro:include filename="$(find ros_industrial_support)/urdf/ufactory/ufactory_xarm6.urdf.xacro"/>
  <xacro:ufactory_xarm6 prefix="" joint_limited="true"/>

  <joint name="robot_to_world" type="fixed">
    <parent link="world"/>
    <child link="base_link"/> <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <xacro:include filename="$(find ros_industrial_support)/urdf/vacuum_gripper/vacuum_gripper.urdf.xacro"/>
  <xacro:vacuum_gripper_urdf prefix="vacuum_gripper1_" joint_prefix="vacuum_gripper1_joint"/>

  <joint name="gripper1_to_robot1" type="fixed">
    <parent link="tool_link" />
    <child link="vacuum_gripper1_base_link" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>